@tailwind base;
@tailwind components;
@tailwind utilities;



/* .project-svg {
  overflow: visible;
  stroke: #fff;
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-linecap: round;
  display: flex;
    align-items: center;
    justify-content: center;
}


#scale {
  scale: 0.1;
} */
